  .card {
    background-color:  #118AB2;
    border: 4px solid #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease-in-out;
  }

  .completedCard {
    background-color: #06D6A0;
    pointer-events: none;
  }

  .skippedCard {
    background-color: #EF476F;
    pointer-events: none;
  }

  .cardTitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .cardDescription {
    text-align: center;
    font-size: 14px;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .confirmation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*align-items: center;*/
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
  }
  
  .commentSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .commentInput {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
  }
  
  .commentActions {
    display: flex;
    justify-content: space-between;
  }
  
  .skipButton {
    background-color: #EF476F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: #06D6A0;;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .backButton {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .chooseButton{
    background-color: #073B4C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;  
  }