
  .card {
    background-color:  #000000;
    border: 4px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease-in-out;
  }

  .completedCard {
    background-color: #13ab03;
    pointer-events: none;
  }

  .skippedCard {
    /*background-color: #353535;*/
    background-color: #ff183e;
    pointer-events: none;
  }

  .cardTitle {
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    overflow-wrap: break-word;
  }
  
  .cardStatus{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
    color: #fff;
  }

  .cardDescription {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
    color: #fff;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .confirmation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    align-items: center;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
  }
  
  .commentSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .commentInput {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .photoInput {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  .commentActions {
    display: flex;
    justify-content: space-between;
  }
  
  .skipButton {
    background-color: #353535;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .submitButton {
    background-color: #13ab03;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  
  .backButton {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }

  .chooseButton{
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }