.form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
  max-width: 400px;
}

.container {
  text-align: center;
  background-color: #00bfff;
}

.input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.stats {
  font-size: 16px;
}

.button {
  padding: 10px 20px;
}

.logo {
 text-align: center;
 font-size: 24px;
 margin-bottom: 20px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  user-select:none;
}

.loading, .noChallenges {
  font-size: 16px;
  margin-top: 20px;
}