.form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
  width: 70%;
}

.container {
  text-align: center;
  background-color: #073B4C;
  background-image: url('./images/kalajoki23dark.jpg');
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.description {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  resize: none;
}

.button {
  padding: 10px 20px;
}

.logo {
 text-align: center;
 font-size: 24px;
 /*margin-bottom: 50px;*/
 margin-top: 50px;
}

.rules{
  font-size: 16px;
  margin-top: 100px;
  margin-bottom: 20px;
  line-height: 1.5;
}