.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #010535;
  text-align: center;
  padding: 40px;
}

.containerLeft {
  justify-content: center;
  align-items: baseline;
  max-width: 300px;
}
.containerRight {
  justify-content: center;
  align-items: baseline;
}

.title{
  font-family: "Bungee", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  overflow-wrap: break-word;
  align-items: center;
  justify-content: center;
}

.subtitle2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.gameDescription {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
  padding: 20px;
  /*height: 400px;*/
}

.input {
  width: 100%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-transform: uppercase;
}

.button {
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 5px;
}

.errorMessage {
  font-size: 14px;
  padding: 10px;
  text-align: center;
}